<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Circle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h3>Travel Circle</h3>
        <nav>
            {{#if email}}
                {{!-- This edits navbar on Dashboard.. --}}
                <p>Welcome, {{email}}!</p>
                <a href="/feed" class="{{#if isFeed}}active{{/if}}">Feed</a>
                <a href="/dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a>
                <a href="/about" class="{{#if isAbout}}active{{/if}}">About</a>
                <a href="/logout">Log Out</a>
                {{else}}
                    {{!-- This edits navbar on home page. --}}
                    <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
                    <a href="/login" class="{{#if isDashboard}}active{{/if}}">Login/Sign Up</a>
                    <a href="/about" class="{{#if isAbout}}active{{/if}}">About</a>

            {{/if}}
        </nav>
    </header>

    {{{body}}}
</body>

</html>