<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h3>Twitter Clone</h3>
        <nav>
            {{#if email}}
                <p>Welcome, {{email}}!</p>
                <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
                <a href="/dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a>
                <a href="/logout">Log Out</a>
                {{else}}
                    {{#if isLoggedIn}}
                        <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
                        <a href="/dashboard" class="{{#if isDashboard}}active{{/if}}">Dashboard</a>
                        {{else}}
                            <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
                            <a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a>
                            <a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a>
                    {{/if}}
            {{/if}}
        </nav>
    </header>

    {{{body}}}
</body>

</html>