<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Link to your CSS file -->
</head>

<body>
  <div class="about-container d-flex justify-content-center align-items-center">
    <h1>ABOUT US</h1>
  </div>

  <!-- <div class="about-container d-flex justify-content-center align-items-center">
        <h2>OUR STORY</h2>
    </div> -->

  {{!-- <div class="about-container d-flex justify-content-center align-items-center">
  </div> --}}

  <div class="p-container d-flex justify-content-center align-items-center">
    <h3>THE CONCEPT</h3>
    <p>
      Travel Circle is a collaboration of 4 coding students that took the concept of social media and adapted it to be
      used for sharing travel details.
      We wanted a concept that could be used to share location, photos, and experiences with a select group. We use
      login authentication and cloud storage for your photos to keep your details safe.
    </p>
  </div>



  <div class="p-container d-flex justify-content-center align-items-center">
    <h3>THE FUTURE</h3>
    <p>
      In the future, we plan on adding "The Next Stop" page to allow users to post where they are going next. We are
      also looking into push notifications for new posts. We would like to add a details section to allow users to enter
      information regarding airfare, hotels, and ground transportation to save for future reference.
    </p>
  </div>


  <div class="team-container text-center">
    <div class="row align-items-center">
      <h3>THE TEAM</h3>
      <br></br>
      <br></br>
      <div class="col">
        Daniel Cohen
        <div>
          <a class="team-info" href="https://github.com/dancohen6">GitHub</a>
        </div>
        <div>
          <a class="team-info" href="mailto: dzcsix@gmail.com">Email</a>
        </div>
        <div>
          <a class="team-info" href="https://www.linkedin.com/in/danielzcohen/">LinkedIn</a>
        </div>
      </div>
      <div class="col">
        John Paul King
        <div>
          <a class="team-info" href="https://github.com/jp-king-1337">GitHub</a>
        </div>
        <div>
          <a class="team-info" href="mailto: jp.king.1337@gmail.com">Email</a>
        </div>
        <div>
          <a class="team-info" href="https://www.linkedin.com/in/jpking1337/">LinkedIn</a>
        </div>
      </div>
      <div class="col">
        Michael R. Rodriguez
        <div>
          <a class="team-info" href="https://github.com/MKYRENE">GitHub</a>
        </div>
        <div>
          <a class="team-info" href="mailto: mkyrenee.dev@gmail.com">Email</a>
        </div>
        <div>
          <a class="team-info" href="https://www.linkedin.com/in/rodriguezm90/">LinkedIn</a>
        </div>
      </div>
      <div class="col">
        Ryan Wysocki
        <div>
          <a class="team-info" href="https://github.com/rpwysocki">GitHub</a>
        </div>
        <div>
          <a class="team-info" href="mailto: ryan.wysocki78@gmail.com">Email</a>
        </div>
        <div>
          <a class="team-info" href="https://www.linkedin.com/in/ryan-wysocki-76513117/">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    <div>
        Daniel Cohen:
            Github: https://github.com/dancohen6
            Email: dzcsix@gmail.com
    </div>
    <div>
        John Paul King: 
            Github: https://github.com/jp-king-1337
            Email: jp.king.1337@gmail.com
    </div>
    <div>
        Michael R. Rodriguez: 
            Github: https://github.com/MKYRENE
            Email: mkyrenee.dev@gmail.com
    </div>
    <div>
        Ryan Wysocki:
            Github: https://github.com/rpwysocki
            Email: ryan.wysocki78@gmail.com 
    </div>
    -->

</body>

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/assets/photos/earth.png" alt="Travel Circle Logo">
    </div>
    <div class="footer-links">
      <a href="#">Home</a>
      <a href="#">Destinations</a>
      <a href="#">Tours</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Travel Circle. All rights reserved.</p>
  </div>
</footer>

</html>