<h1>Dashboard</h1>

<form id="postForm">
    <input name="text" type="text" placeholder="What are you thinking?">
    <input name="date" type="date" placeholder="Date">
    <input name="location" type="text" placeholder="Location">

    <button type="submit">Share</button>
</form>


<main class="post">
    {{#each post}}
    <div class="post">
        <p>{{text}}</p>
    </div>
    {{/each}}
</main>