<h1>Dashboard</h1>

<form id="postForm" class="dashboard-form">
    <textarea name="text" placeholder="What are you thinking?" rows="4" cols="50"></textarea>
    <input name="date" type="date" placeholder="Date">
    <input name="location" type="text" placeholder="Location">

    <button type="submit">Share</button>
</form>