<form id="postForm" class="dashboard-form">
    <textarea name="text" placeholder="What did you do today?" rows="4" cols="50"></textarea>
    <input name="date" type="date" placeholder="Date">
    <input name="location" type="text" placeholder="What city are you in?">

    <button type="submit">Share</button>
</form>
