<main class="post">
    <form action="/post" method="POST" id="postForm" class="dashboard-form">
        <input name="date" type="date" placeholder="Date" required>
        <input name="city" type="text" placeholder="What city are you in?">
        <textarea name="text" placeholder="What did you do today?" rows="4" cols="50"></textarea>

        <button>Share</button>
    </form>
</main>