<h1>Dashboard</h1>


<main class="post"></main>
<form action="/post" method="POST">
    <input name="text" type="text" placeholder="How is your trip?">
    <button>Share</button>
</form>

{{#each post}}
<div class="post">
    <p>{{text}}</p>
</div>
{{/each}}


<div class="search-container">
    <input type="text" id="search-input" placeholder="Search for a location">
    <button id="search-button">Search</button>
</div>
<div id="map"></div>
</main>