<!-- Main heading for the Feed page -->
<h1>Feed</h1>

<!-- Main section to display the feed -->
<main class="feed">
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search for a location">
        <button id="search-button">Search</button>
    </div>
    
    <div id="map" style="height: 200px;"></div>
    <script src="/js/map.js"></script>
    
</main>