<!-- Main heading for the Feed page -->
<div class="about-container d-flex justify-content-center align-items-center">
<h1>FEED</h1>
</div>

<!-- Main section to display the feed -->
<main class="feed">
    <!-- Loop through each feed item and display it -->
    {{#each feed}}
    <div class="map">
        <!-- Display the content of each feed item here -->
    </div>
    {{/each}}
</main>