<!-- Section: Main heading -->
<div class="container d-flex justify-content-center align-items-center">
    <!-- Heading for the Travel Circle section -->
    <h1>TRAVEL CIRCLE</h1>
</div>

<!-- Section: Description of Travel Circle -->
<div class="p-container d-flex justify-content-center align-items-center">
    <!-- Paragraph 1 -->
    <p>
        Share your travel details with your chosen group. Travel Circle allows travel details to be private and not
        available to the general public. It allows the selected users to know where you are and what you have done as
        soon as you post, as well as seeing your up-to-date photos. Don't let anyone outside of your circle know that
        you are not home.
    </p>
    <!-- Paragraph 2 -->
    <p>
        Instead of searching through your phone or all the different social media for your trip photos or details, they
        are kept on a separate app allowing easy access.
    </p>
</div>