<form action="/login" method="POST">
    <h1>User Login</h1>

    <input name="email" type="email" placeholder="Please enter your email address">
    <input name="password" type="password" placeholder="Please enter your password">
    <button>Sign In</button>
</form>