{{#if error}}
    <script>alert("{{error}}")</script>
{{/if}}

<form action="/register" method="POST">
    <h1>Register User</h1>

    <label for="firstName">First Name:</label>
    <input name="firstName" type="text" id="firstName" placeholder="Enter first name" required>

    <label for="lastName">Last Name:</label>
    <input name="lastName" type="text" id="lastName" placeholder="Enter last name" required>

    <label for="username">Username:</label>
    <input name="username" type="text" id="username" placeholder="Enter username" required minlength="3">

    <label for="email">Email:</label>
    <input name="email" type="email" id="email" placeholder="Enter email address" required>

    <label for="password">Password:</label>
    <input name="password" type="password" id="password" placeholder="Enter password" required minlength="6">

    <button type="submit">Create Account</button>
</form>
