:root {
    --myPurple: #301934;
    --myPurpleLight: #30193475;
    --white: #fff;
}

/* Body and HTML */
body,
html {
    height: 100%;
}

/* Body styling */
body {
    background-image: url(/assets/photos/mouintains.jpg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the body fills the viewport */
}

/* Reset margin and padding for paragraphs */
p {
    margin: 0;
    padding: 0;
}

/* Button styling */
button {
    background-color: var(--myPurple);
    color: var(--white);
    border-radius: 5px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */
nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav p {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: var(--myPurple);
    border: 1px solid var(--myPurple);
    border-radius: 3px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

nav a.active,
nav a:hover {
    background-color: var(--myPurple);
    color: var(--white);
}

/* Styling for text with a background color */
.textBackground {
    background-color: rgb(0, 151, 108);
}

/* Form styling */
form {
    background-color: #30193475;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

form>* {
    padding: 7px 10px;
    margin: 3px 0;
}

form h1 {
    text-align: center;
}

form button {
    width: fit-content;
    align-self: center;
}

/* Styling for create-button link */
#create-button {
    text-decoration: none;
    color: lightblue;
}

#create-button:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
}

/* List item styling */
ul li {
    margin: 10px 0;
}

ul li p {
    margin: 4px;
}

.p-container {
    text-align: center;
    padding-top: 2rem;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.login-container {
    margin-top: 75px;
}

.about-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.team-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.col {
    padding-top: 0%;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}

#team-info {
    color: #30193475;
    font-weight: 300;
}

/* Styling for the globe image */
.globe img {
    width: 50px;
    height: auto;
}

/* Common styling for containers */
.container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.p-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.about-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.team-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.team-info {
    color: white;
}

/* Footer styling */
footer {
    margin-top: auto;
    /* Push the footer to the bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
    background-color: #30193488;
    /* width: 400px; */
    /* margin: 20px auto; */
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.footer-container {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}

img {
    /* background-image: url('/assets/photos/earth.png');
    background-size: cover; */
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center content horizontally */
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom p {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}

/* Override width for the dashboard form */
form.dashboard-form {
    width: 80%;
}

#map {
    height: 400px;
    width: 400px;
}

.weather {
    background-color: #30193488;
    color: white;
    columns: 4;
}