:root {
    --myPurple: #301934;
    --myPurpleLight: #30193475;
    --white: #fff;
}

body,html {
    height: 100%;
}

body {
    background-image: url(/assets/photos/mouintains.jpg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--myPurple);
    color: var(--white);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav p {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: var(--myPurple);
    border: 1px solid var(--myPurple);
    border-radius: 3px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

nav a.active,
nav a:hover {
    background-color: var(--myPurple);
    color: var(--white);
}

.textBackground {
    background-color: rgb(0, 151, 108);
}

form {
    background-color: #30193475;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

form>* {
    padding: 7px 10px;
    margin: 3px 0;
}

form h1 {
    text-align: center;
}

form button {
    width: fit-content;
    align-self: center;
}

#create-button {
    text-decoration: none;
    color: lightblue;
}

#create-button:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
}

ul li {
    margin: 10px 0;
}

ul li p {
    margin: 4px;
}

.container {
    padding-top: 5rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.p-container {
    text-align: center;
    padding-top: 2rem;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
}

.login-container {
    margin-top: 75px;
}

.about-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.team-container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.col {
    padding-top: 0%;
    padding-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#team-info {
    color: #fff;
    font-weight: 300;
}

.globe img {
    width: 50px;
    height: auto;
}

.container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.p-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.about-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.team-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
}

.team-info {
    color: white;
}

.footer-container {
    background-color: #30193488;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
  }
  
  .footer-logo {
    background-image: url('/assets/photos/earth.png');
    background-size: cover;
    width: 100px;
    height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-social a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .footer-bottom p {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
  }
  